<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
        Minos - {% block title %}Queue{% endblock %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <style>
            .sitecontent, #content {
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
    {% block navbar %}
    <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/music/">Minos</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/music/" class="nav-link">Sonos queue</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings/" class="nav-link">Settings</a>
                    </li>
                </ul>
                {% if 'username' not in session %}
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">Login</a>
                    </li>
                </ul>
                {% else %}
                    <ul class="nav navbar-nav justify-content-end">
                        <li class="nav-item">
                            <span class="navbar-text nav-link">
                                Welcome back, {{ session['username'] }}
                            </span>
                        </li>
                        <li class="nav-item">
                            <form action="/users/logout" method="POST">
                                <button class="btn btn-danger">
                                    Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alerts">
            {% for message in messages %}
                <div class="alert alert-dismissable alert-success fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </li>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
    {% block end_scripts %}
    {% endblock %}
    </body>
</html>