{% extends "header.html" %}
{% block content %}
<div class="container" id="content">
    <h2>Sonos queue</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-10">Name</th>
                <th class="col-xs-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                {% set track_uri = track.get_unique_id() %}
                <tr class="track-row {% if 1 == loop.index %} table-info{% endif %} track{{ track.get_unique_id() }}" data-uri="{{ track.get_unique_id() }}">
                    <td>{{ track.title }} - {{ track.artist }}</td>
                    <td class="voteButtons">
                        <div class="float-left">
                            <span class="badge badge-success">{{ votes_total_up[track_uri] | default('0')}}</span>
                            <span class="fa fa-thumbs-up {% if user_voted[track_uri] is defined and user_voted[track_uri] == 'up' %}liked{% endif %}"></span>
                        </div>
                        <div class="float-right">
                            <span class="badge badge-danger">{{ votes_total_down[track_uri] | default('0') }}</span>
                            <span class="fa fa-thumbs-down {% if user_voted[track_uri] is defined and user_voted[track_uri] == 'down' %}disliked{% endif %}"></span>
                        </div>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td>And on this Sonos device! Has it been configured for polling?</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block end_scripts %}
<script>
    $(document).ready(function() {
        $('.track-row td span.fa').on('click', function() {
            var $this = $(this);
            var uri = $this.closest('tr').data('uri');
            var offset = uri.indexOf('?'); // Trim any query string
            var direction = $this.hasClass('fa-thumbs-up');

            if(offset > 0)
                uri = uri.substr(0, offset);

            $.post(
                '/music/vote/' + uri + '/' + (direction ? 'up' : 'down'),
                function(data) {
                    var alrt = $('<div class="alert alert-dismissable alert-warning fade show"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>You have already voted for this track.</div>');

                    if(data != 'OK') {
                        $('.alerts').append(alrt);
                    } else {
                        if(direction) {
                            var thumbsUp = $this.closest('.voteButtons').find('.fa-thumbs-up').toggleClass('liked');
                        } else {
                            var thumbsUp = $this.closest('.voteButtons').find('.fa-thumbs-down').toggleClass('disliked');
                        }
                    }
                }
            );
        })

        var ws = new WebSocket('ws://localhost:8005/sub');
        ws.onmessage = function(message) {
            var obj = JSON.parse(message.data);

            var votesUp = $('.track' + obj.track).find('.voteButtons').find('.badge-success');
            var votesDown = $('.track' + obj.track).find('.voteButtons').find('.badge-danger');
            var val = 0;
            if(obj.removed) {
                console.log(obj.track + " vote in direction " + obj.direction + " was removed");
                val = -1;
            } else {
                console.log(obj.track + " was voted " + obj.direction);
                val = 1;
            }

            if(obj.direction == 'up')
                votesUp.text(parseInt(votesUp.text()) + val);
            else
                votesDown.text(parseInt(votesDown.text()) + val);
        }
    })

</script>
{% endblock %}