{% extends "header.html" %}
{% block content %}
<div class="container" id="content">
    <h2>Sonos queue</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-10">Name</th>
                <th class="col-xs-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr class="track-row {% if 1 == loop.index %} table-info{% endif %}" data-uri="{{ track.uri }}">
                    <td>{{ track.title }}</td>
                    <td>
                        <span class="fa fa-thumbs-up float-left"></span>
                        <span class="fa fa-thumbs-down float-right"></span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block end_scripts %}
<script>
    $(document).ready(function() {
        $('.track-row td span.fa').on('click', function() {
            $this = $(this);
            var uri = $this.closest('tr').data('uri');

            $.post(
                '/music/vote/' + uri + '/up'
            );
        })
    })
</script>
{% endblock %}