{% extends "header.html" %}
{% block content %}
<div class="container" id="content">
    <h2>Sonos queue</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-10">Name</th>
                <th class="col-xs-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr {% if 1 == loop.index %} class="table-info"{% endif %}>
                    <td>{{ track.title }}</td>
                    <td>
                        <span class="fa fa-thumbs-up float-left"></span>
                        <span class="fa fa-thumbs-down float-right"></span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}